#mainDescr {
    -webkit-animation-delay: 0.5s;
    -o-animation-delay: 0.5s;
    animation-delay: 0.5s;
}

#frontend {
    //-webkit-animation-duration: 3s;
    //-o-animation-duration: 3s;
    //animation-duration: 3s;
    -webkit-animation-delay: 0.7s;
    -o-animation-delay: 0.7s;
    animation-delay: 0.7s;
    //-webkit-animation-iteration-count: infinite;
    //-o-animation-iteration-count: infinite;
    // animation-iteration-count: infinite;
}

#olahtml {
    -webkit-animation-delay: 0.8s;
    -o-animation-delay: 0.8s;
    animation-delay: 0.8s;
}

#olaflash {
    -webkit-animation-delay: 0.9s;
    -o-animation-delay: 0.9s;
    animation-delay: 0.9s;
}
