@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 3, ../sass/global/_reset.scss */
div, p, span, article, a {
  box-sizing: border-box;
}

/* line 7, ../sass/global/_reset.scss */
a {
  text-decoration: none;
}

/* line 11, ../sass/global/_reset.scss */
sup {
  vertical-align: super;
  font-size: 50%;
}

/* line 16, ../sass/global/_reset.scss */
em {
  font-style: italic;
}

/* line 20, ../sass/global/_reset.scss */
strong {
  font-weight: bold;
}

/* line 23, ../sass/global/_reset.scss */
bolder {
  font-weight: bolder;
}

/* line 27, ../sass/global/_reset.scss */
html {
  font-size: 62.5%;
}

/* line 31, ../sass/global/_reset.scss */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
  font-family: "interstatelight";
  src: url("../font/interstate_light-webfont.eot");
  src: url("../font/interstate_light-webfont.eot?#iefix") format("embedded-opentype"), url("../font/interstate_light-webfont.woff") format("woff"), url("../font/interstate_light-webfont.ttf") format("truetype"), url("../font/interstate_light-webfont.svg#interstatelight") format("svg");
  font-style: normal;
  font-weight: normal;
}
/* Fontello for Icons */
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?76596579#fontello') format('svg');
  }
}
*/
/* line 19, ../sass/global/_fonts.scss */
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

/* line 54, ../sass/global/_fonts.scss */
.icon-cancel:before {
  content: '\e800';
}

/* '' */
/* line 55, ../sass/global/_fonts.scss */
.icon-search:before {
  content: '\e801';
}

/* '' */
/* line 56, ../sass/global/_fonts.scss */
.icon-twitter:before {
  content: '\e802';
}

/* '' */
/* line 57, ../sass/global/_fonts.scss */
.icon-facebook-squared:before {
  content: '\e803';
}

/* '' */
/* line 58, ../sass/global/_fonts.scss */
.icon-linkedin:before {
  content: '\e804';
}

/* '' */
/* line 59, ../sass/global/_fonts.scss */
.icon-youtube-play:before {
  content: '\e805';
}

/* '' */
/* line 10, ../sass/screen.scss */
body {
  font-family: arial;
}

/* line 13, ../sass/screen.scss */
.wrapper {
  width: 1080px;
  margin: 0 auto;
}
/* line 17, ../sass/screen.scss */
.wrapper .bodycontent {
  margin-top: 18px;
  padding-left: 40px;
  padding-right: 40px;
  border: 1px solid #dadada;
  float: left;
}
/* line 25, ../sass/screen.scss */
.wrapper .bodycontent h1 {
  font-family: "interstatelight";
  font-weight: normal;
  font-size: 80px;
  color: #ffffff;
  text-transform: uppercase;
  margin-left: 216px;
  padding-top: 17px;
}
/* line 35, ../sass/screen.scss */
.wrapper .bodycontent .header {
  background: url("../images/header-image.jpg") no-repeat;
  height: 385px;
}
/* line 38, ../sass/screen.scss */
.wrapper .bodycontent .header p {
  color: #043571;
  font-size: 22px;
  margin-left: 227px;
  margin-top: 2px;
  line-height: 24px;
  font-family: "interstatelight";
}
/* line 51, ../sass/screen.scss */
.wrapper .bodycontent .preheader {
  margin-bottom: 23px;
}
/* line 54, ../sass/screen.scss */
.wrapper .bodycontent .preheader .logo img {
  margin-top: 26px;
}
/* line 60, ../sass/screen.scss */
.wrapper .bodycontent .preheader .hablaSpa {
  float: right;
  font-family: arial;
  font-weight: bold;
  color: #016899;
  font-size: 12px;
  margin-top: 79px;
}
/* line 70, ../sass/screen.scss */
.wrapper .bodycontent .headerbutton {
  background: url("../images/header-bar-img.jpg") no-repeat;
  height: 73px;
  float: left;
  width: 100%;
}
/* line 75, ../sass/screen.scss */
.wrapper .bodycontent .headerbutton p {
  font-family: arial;
  font-size: 20px;
  color: #003663;
  padding-top: 19px;
  text-align: center;
}
/* line 87, ../sass/screen.scss */
.wrapper .bodycontent .cta-book-now-header {
  margin-top: 10px;
  float: left;
  width: 100%;
}
/* line 91, ../sass/screen.scss */
.wrapper .bodycontent .cta-book-now-header a {
  padding-left: 415px;
}
/* line 95, ../sass/screen.scss */
.wrapper .bodycontent .cta-book-now-header .phone-number {
  font-size: 18px;
  font-family: arial;
  color: #003663;
  text-align: center;
  padding-bottom: 10px;
  padding-top: 13px;
}
/* line 103, ../sass/screen.scss */
.wrapper .bodycontent .cta-book-now-header .description {
  font-family: arial;
  color: #003663;
  text-align: center;
  font-size: 13px;
  margin-bottom: 44px;
}
/* line 112, ../sass/screen.scss */
.wrapper .bodycontent .men-header-Championship {
  background: url("../images/header-line-bg.gif") repeat-x;
  height: 74px;
  float: left;
  width: 100%;
}
/* line 118, ../sass/screen.scss */
.wrapper .bodycontent .men-header-Championship img {
  margin-left: 26px;
  margin-top: 4px;
  float: left;
  padding-right: 35px;
}
/* line 124, ../sass/screen.scss */
.wrapper .bodycontent .men-header-Championship img.feature-2 {
  margin-top: 10px;
}
/* line 130, ../sass/screen.scss */
.wrapper .bodycontent .header-description {
  padding-top: 17px;
}
/* line 132, ../sass/screen.scss */
.wrapper .bodycontent .header-description p {
  text-transform: uppercase;
  font-family: arial;
  font-size: 20px;
  color: #003663;
  line-height: 20px;
}
/* line 138, ../sass/screen.scss */
.wrapper .bodycontent .header-description p.sub-title {
  color: #51779a;
}
/* line 144, ../sass/screen.scss */
.wrapper .bodycontent .padding-6 {
  padding-top: 6px;
}
/* line 150, ../sass/screen.scss */
.wrapper .bodycontent .margin-bottom-66 {
  margin-bottom: 66px;
}
/* line 154, ../sass/screen.scss */
.wrapper .bodycontent .bold {
  font-weight: bold;
}
/* line 158, ../sass/screen.scss */
.wrapper .bodycontent .bolder {
  font-weight: 900;
}
/* line 161, ../sass/screen.scss */
.wrapper .bodycontent .uppercase {
  text-transform: uppercase;
}
/* line 165, ../sass/screen.scss */
.wrapper .bodycontent .profile-info {
  border: 1px solid #d0d0d0;
  float: left;
  width: 100%;
}
/* line 170, ../sass/screen.scss */
.wrapper .bodycontent .profile-info img {
  float: left;
  margin-top: 30px;
  margin-left: 21px;
  padding-right: 27px;
}
/* line 184, ../sass/screen.scss */
.wrapper .bodycontent .copy-profile {
  font-family: arial;
  margin-top: 39px;
  width: 460px;
  float: left;
}
/* line 189, ../sass/screen.scss */
.wrapper .bodycontent .copy-profile h3 {
  font-size: 20px;
  text-transform: uppercase;
  color: #003663;
  line-height: 25px;
  padding-bottom: 16px;
}
/* line 196, ../sass/screen.scss */
.wrapper .bodycontent .copy-profile p {
  font-size: 12px;
  color: #0e203c;
  padding-top: 7px;
}
/* line 202, ../sass/screen.scss */
.wrapper .bodycontent .copy-profile ul {
  list-style: disc;
  color: #555555;
  font-size: 14px;
  margin-top: 30px;
  margin-left: 19px;
}
/* line 208, ../sass/screen.scss */
.wrapper .bodycontent .copy-profile ul li {
  padding-left: 20px;
  padding-bottom: 9px;
}
/* line 213, ../sass/screen.scss */
.wrapper .bodycontent .copy-profile .padding-0 {
  padding-bottom: 0px;
}
/* line 217, ../sass/screen.scss */
.wrapper .bodycontent .copy-profile .line-height-22 {
  line-height: 22px;
}
/* line 221, ../sass/screen.scss */
.wrapper .bodycontent .copy-profile .profile-disclaimer {
  color: #555555;
}
/* line 224, ../sass/screen.scss */
.wrapper .bodycontent .copy-profile .cta-book-profile {
  margin: 0;
  padding: 0;
  margin-top: 15px;
  float: none;
}
/* line 230, ../sass/screen.scss */
.wrapper .bodycontent .copy-profile .profile-number {
  color: #003663;
  font-size: 16px;
  font-weight: bold;
  margin-top: 7px;
  margin-left: 2px;
  padding-bottom: 45px;
}
/* line 243, ../sass/screen.scss */
.wrapper .bodycontent .price-container {
  width: 187px;
  float: left;
  padding-top: 31px;
  padding-left: 10px;
}
/* line 249, ../sass/screen.scss */
.wrapper .bodycontent .price-container .square1 {
  border: solid 1px #d0d0d0;
  width: 160px;
  height: 120px;
  background: url("../images/price-bg.gif") repeat-x;
}
/* line 255, ../sass/screen.scss */
.wrapper .bodycontent .price-container .square1 .info-container {
  font-family: arial;
  color: #959595;
  text-align: center;
  margin-top: 29px;
}
/* line 260, ../sass/screen.scss */
.wrapper .bodycontent .price-container .square1 .info-container .promotion {
  font-size: 14px;
}
/* line 266, ../sass/screen.scss */
.wrapper .bodycontent .price-container .square1 .info-container .price {
  font-size: 34px;
  font-weight: bold;
}
/* line 275, ../sass/screen.scss */
.wrapper .bodycontent .price-container .square2 {
  border-left: solid 1px #d0d0d0;
  border-right: solid 1px #d0d0d0;
  border-bottom: solid 1px #d0d0d0;
  width: 160px;
  height: 120px;
  background: url("../images/price-bg.gif") repeat-x;
}
/* line 284, ../sass/screen.scss */
.wrapper .bodycontent .price-container .square2 .info-container {
  font-family: arial;
  color: #959595;
  text-align: center;
  padding-top: 29px;
}
/* line 289, ../sass/screen.scss */
.wrapper .bodycontent .price-container .square2 .info-container .promotion {
  font-size: 14px;
}
/* line 295, ../sass/screen.scss */
.wrapper .bodycontent .price-container .square2 .info-container .price {
  font-size: 34px;
  font-weight: bold;
}
/* line 306, ../sass/screen.scss */
.wrapper .bodycontent .border-top-0 {
  border-top: 0;
}
/* line 310, ../sass/screen.scss */
.wrapper .bodycontent .promo-championship {
  border: 1px solid #d0d0d0;
  width: 100%;
  height: 155px;
  background: url("../images/bg-line-promo.gif") repeat-x;
  float: left;
  margin-top: 77px;
  margin-bottom: 74px;
}
/* line 319, ../sass/screen.scss */
.wrapper .bodycontent .promo-championship img {
  float: left;
  margin-left: 112px;
  margin-top: 25px;
  padding-right: 100px;
}
/* line 325, ../sass/screen.scss */
.wrapper .bodycontent .promo-championship .promo-desc {
  font-family: arial;
  padding-top: 27px;
  width: 645px;
  float: left;
}
/* line 332, ../sass/screen.scss */
.wrapper .bodycontent .promo-championship .promo-desc h3 {
  color: #003663;
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 16px;
  float: left;
}
/* line 340, ../sass/screen.scss */
.wrapper .bodycontent .promo-championship .promo-desc p {
  font-size: 16px;
  color: #0e203c;
  line-height: 20px;
  float: left;
}
/* line 352, ../sass/screen.scss */
.wrapper .bodycontent .logonUltimate {
  font-family: arial;
  margin-top: 16px;
  float: left;
  width: 100%;
}
/* line 357, ../sass/screen.scss */
.wrapper .bodycontent .logonUltimate .text-link {
  font-size: 18px;
  padding-left: 242px;
  margin-bottom: 19px;
}
/* line 361, ../sass/screen.scss */
.wrapper .bodycontent .logonUltimate .text-link a {
  text-decoration: underline;
  color: #126bad;
}
/* line 367, ../sass/screen.scss */
.wrapper .bodycontent .logonUltimate .lonon-btn {
  padding-left: 403px;
  margin-bottom: 48px;
}
/* line 378, ../sass/screen.scss */
.wrapper .legal {
  font-family: arial;
  float: left;
  overflow: hidden;
  padding: 0 40px 130px;
  width: 995px;
}
/* line 384, ../sass/screen.scss */
.wrapper .legal p {
  margin: 0 0 23px;
  color: #4c4c4c;
  font-size: 11px;
  text-align: left;
  line-height: 18px;
  padding: 0 8px 0 0;
}
/* line 393, ../sass/screen.scss */
.wrapper .legal p.subhead {
  margin: 60px 0 32px 0px;
  font-weight: bold;
  color: #464646;
  font-size: 14px;
  padding-left: 217px;
}
/* line 401, ../sass/screen.scss */
.wrapper .legal p.privacy-link a {
  color: #126bad;
  text-decoration: underline;
}
/* line 411, ../sass/screen.scss */
.wrapper #footer {
  font-family: arial;
  width: 950px;
  float: left;
  overflow: hidden;
  background: url("../images/footer.gif") no-repeat 50% 0;
  padding: 33px 25px;
}
/* line 419, ../sass/screen.scss */
.wrapper #footer p {
  font-size: 10px;
  text-align: right;
  line-height: 30px;
  color: #000000;
  margin: 0;
  font-weight: bold;
  clear: both;
}
/* line 430, ../sass/screen.scss */
.wrapper #footer ul {
  float: right;
  width: 260px;
  padding: 0;
  margin: 0;
}
/* line 437, ../sass/screen.scss */
.wrapper #footer ul li {
  list-style: none;
  float: right;
  padding: 0 8px;
  border-right: 1px solid #ae9985;
  line-height: 11px;
  margin: 0;
}
/* line 445, ../sass/screen.scss */
.wrapper #footer ul li.last {
  border-right: 0;
  padding: 0 0 0 8px;
}
/* line 450, ../sass/screen.scss */
.wrapper #footer ul li a {
  text-decoration: none;
  color: #1471ba;
  font-weight: bold;
  font-size: 11px;
}
