body {
	margin: 0px;
}

#container {
	top: 0px;
	left: 0px;
	width: 300px;
	height: 250px;
	display: block;
	position: relative;
	cursor: pointer;
	border: 1px solid #b9b9b9;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	overflow: hidden;
   background: url("bg.jpg") no-repeat;


}

#banner {
	top: 0px;
	left: 0px;
	width: 300px;
	height: 250px;
	display: block;
	overflow: hidden;
}

#gold_bar{
	position: absolute;
	background: url('sprite.png') no-repeat 0 -92px;
	width: 301px;
	height: 6px;
	bottom: 0px;
	opacity: 0;
}

#gold_card{
	position: absolute;
	background: url('sprite.png') no-repeat -19px 0;
	width: 260px;
	height: 89px;
	left: 18px;
}

#frame1_coppy1{
	position: absolute;
	background: url('sprite.png') no-repeat 0 -101px;
	width: 32px;
	height: 16px;
	top: 23px;
	left: 18px;
	opacity: 0;
}

#frame1_coppy2{
	background: url('sprite.png') no-repeat -38px -102px;
	width: 261px;
	height: 25px;
	position: absolute;
	top: 48px;
	
}

#frame1_coppy3{
	position: absolute;
	background: url('sprite.png') no-repeat -1px -131px;
	width: 94px;
	height: 16px;
	top: 80px;
	left: 17px;
	opacity: 0;
}

#frame1_coppy4{
	position: absolute;
	background: url('sprite.png') no-repeat 0 -148px;
	width: 261px;
	height: 40px;
	top: 102px;
	
}

#frame2_coppy1{
	position: absolute;
	background: url('sprite.png') no-repeat 0 -192px;
	width: 87px;
	height: 16px;
	top: 22px;
	left: 17px;
	opacity: 0;
}

#frame2_coppy2{
	background: url('sprite.png') no-repeat 0 -212px;
	width: 260px;
	height: 36px;
	position: absolute;
	top: 48px;
	left: -262px;
	opacity: 0;
}

#frame2_coppy3{
	position: absolute;
	background: url('sprite.png') no-repeat 0 -251px;
	width: 260px;
	top: 97px;
	height: 16px;
	left: 18px;
	opacity: 0;

}

#frame3_coppy1{
	position: absolute;
	background: url('sprite.png') no-repeat -1px -277px;
	width: 64px;
	height: 14px;
	top: 24px;
	left: 18px;
	opacity: 0;

}
#frame3_coppy2{
	position: absolute;
	background: url('sprite.png') no-repeat 0 -295px;
	width: 261px;
	height: 26px;
	top: 47px;
	left: 17px;
	opacity: 0;

}

#frame3_coppy3{
	position: absolute;
	background: url('sprite.png') no-repeat 0 -330px;
	width: 261px;
	height: 45px;
	top: 81px;
	left: -262px;
	opacity: 0;
}

#cta_container{
	background: #f2f4f5;
	width: 300px;
	height: 66px;
	position: absolute;
	bottom: -70px;
	overflow: hidden;

}

#cta{
	position: absolute;
	background: url('sprite.png') no-repeat -176px -395px;
	width: 122px;
	height: 37px;
	right: 19px;
	top: 14px;
	overflow: hidden;

}

#cta_text{
	position: absolute;
	background: url('sprite.png') no-repeat -80px -279px;
	width: 67px;
	height: 10px;
	top: 13px;
	left: 28px;
}

#shine{
	position: absolute;
	background: url('sprite.png') no-repeat -262px -172px;
	width: 37px;
	height: 36px;
	left: -37px;
}
#amex_logo{
	position: absolute;
	background: url('sprite.png') no-repeat -2px -382px;
	width: 42px;
	height: 38px;
	top: 14px;
	left: 13px;
}

#pattern_imagery{
	position: absolute;
	background: url('sprite.png') no-repeat 0 -442px;
	width: 300px;
	height: 38px;
	bottom: 0px;
}

#open_cta{
	position: absolute;
	background: url('sprite.png') no-repeat -49px -382px;
	width: 86px;
	height: 38px;
	top: 14px;
	left: 60px;
}

#terms{
	position: absolute;
	background: url('sprite.png') no-repeat -144px -384px;
	width: 48px;
	height: 8px;
	right: 56px;
	bottom: 3px;
}

#frame4_copy1{
	position: absolute;
	background: url('sprite.png') no-repeat -108px -486px;
	width: 167px;
	height: 23px;
	top: 24px;
	left: 65px;
	opacity: 0;

}

#frame4_copy2{
	position: absolute;
	background: url('sprite.png') no-repeat -1px -518px;
	width: 261px;
	height: 29px;
	top: 57px;
	left: 18px;
	opacity: 0;
}

#welcome_promo{
	position: absolute;
	background: url('sprite.png') no-repeat 0 -487px;
	width: 97px;
	height: 16px;
	left: 18px;
	top: -26px;
}