<section ui-view class="category fadeIn animated">
    <!--
    <h1>Esto es Category  {{category}}  {{label}}</h1>


	 <ul>
	    <li ng-repeat="datos in data[0].frontend">
	      {{datos}}
	    </li>
	 </ul>


    <br/>
    <br/>
    <br/>
    <br/>
 -->
    <div class="row">
        <div class="col-sm-12">
            <h1 class="section-title wow fadeInDown animated">Some of My Works</h1>
            <!-- portfolio-wrapper -->
            <div id="portfolio-wrapper" class="cf wow fadeIn animated">


                <div class="col-sm-4 col-xs-12 portfolio-item ">
                    <div class="item-wrap" id="mobile">
                        <a ng-sref="category.mobile" ng-href="#/category/mobile">
                            <div class="overlay">
                                <div class="portfolio-item-meta">
                                    <h5>React Native</h5>
                                    <p>Mobile Development</p>
                                </div>
                            </div>
                            <div class="link-icon"><i class="fa fa-plus fa-2x"></i></div>
                        </a>
                    </div>
                </div>

                <div class="col-sm-4 col-xs-12 portfolio-item ">
                    <div class="item-wrap" id="frontend">
                        <a ng-sref="category.frontend" ng-href="#/category/frontend">
                            <div class="overlay">
                                <div class="portfolio-item-meta">
                                    <h5>Front end</h5>
                                    <p>Development</p>
                                </div>
                            </div>
                            <div class="link-icon"><i class="fa fa-plus fa-2x"></i></div>
                        </a>
                    </div>
                </div>


                <div class="col-sm-4 col-xs-12 portfolio-item  ">
                    <div class="item-wrap" id="olahtml">
                        <a ng-sref="category.olahtml" ng-href="#/category/olahtml">
                            <div class="overlay">
                                <div class="portfolio-item-meta">
                                    <h5>HTML5 OLA</h5>
                                    <p>Development</p>
                                </div>
                            </div>
                            <div class="link-icon"><i class="fa fa-plus fa-2x"></i></div>
                        </a>
                    </div>
                </div>





            </div>
        </div>
    </div>
</section>