<section ui-view class="category fadeIn animated">
    <!--
    <h1>Esto es Category  {{category}}  {{label}}</h1>


	 <ul>
	    <li ng-repeat="datos in data[0].frontend">
	      {{datos}}
	    </li>
	 </ul>


    <br/>
    <br/>
    <br/>
    <br/>
 -->
    <div class="row">
        <div class="col-sm-12">
            <h1 class="section-title wow fadeInDown animated">Some of My Works</h1>
            <!-- portfolio-wrapper -->
            <div id="portfolio-wrapper" class="cf wow fadeIn animated">



                <div class="col-xs-12 col-sm-4 portfolio-item">
                    <div class="item-wrap" id="frontend">
                        <a ng-sref="category.frontend" ng-href="#/category/frontend" title="">
                            <div class="overlay">
                                <div class="portfolio-item-meta">
                                    <h5>Front end</h5>
                                    <p>Development</p>
                                </div>
                            </div>
                            <div class="link-icon"><i class="fa fa-plus fa-2x"></i></div>
                        </a>
                    </div>
                </div>


                <!-- item end -->
                <div class="col-xs-12 col-sm-4  portfolio-item">
                    <div class="item-wrap" id="olahtml">
                        <a ng-sref="category.olahtml" ng-href="#/category/olahtml" title="">
                            <div class="overlay">
                                <div class="portfolio-item-meta">
                                    <h5>OLA HTML5</h5>
                                    <p>Development</p>
                                </div>
                            </div>
                            <div class="link-icon"><i class="fa fa-plus fa-2x"></i></div>
                        </a>
                    </div>
                </div>

                
                <!-- item end -->
                <div class="col-xs-12 col-sm-4  portfolio-item">
                    <div class="item-wrap" id="olaflash">
                        <a ng-sref="category.olaflash" ng-href="#/category/olaflash" title="">
                            <div class="overlay">
                                <div class="portfolio-item-meta">
                                    <h5>OLA Flash</h5>
                                    <p>Development</p>
                                </div>
                            </div>
                            <div class="link-icon"><i class="fa fa-plus fa-2x"></i></div>
                        </a>
                    </div>
                </div>
                <!-- item end -->
            </div>
        </div>
    </div>
</section>
