<section ui-view class="detail">
    <div class="row">
        <div class="container">
            <div class="detail-wrapper" class="fadeIn animated">
                <div class="portfolio-item col-xs-12 col-sm-6">
                    <a ng-href="{{data.images[0].demoLink}}" target="_blank">
                        <div id="detailImage" class="item-wrap fadeIn animated" style="background:url('{{data.images[0].imagePath}}') no-repeat center center / cover;">
                        </div>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="detailHeader">
                        <h1>{{data.ProjectName}}</h1>
                    </div>
                    <div class="detailCopy">
                        <div class="detailActions">
                            <p ng-if="data.images[0].demoLink">
                                <a class="aNext" ng-href="{{data.images[0].demoLink}}" target="_blank">Check the work here <i class="fa fa-arrow-right"></i></a>
                            </p>
                        </div>
                        <br>
                        <br>

                        <h3>Description:</h3>
                        <p>
                            <div ng-bind-html="renderHtml(data.Description)">-</div>
                        </p>

                    </div>

                    <div class="detailActions">
                        <p>
                            <a class="aPrev" ng-sref="{{data.parent}}" ng-href="{{data.parent}}"> <i class="fa fa-arrow-right fa-flip-horizontal"></i> Back</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>