<section ui-view class="detail">
    <div class="row">
        <div class="container">        
            <div class="detail-wrapper" class="fadeIn animated">
                <div class="portfolio-item col-xs-12 col-sm-6">
                    <div id="detailImage" class="item-wrap fadeIn animated" style="background:url('{{data.images[0].imagePath}}') no-repeat center center / cover;">
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6">

                    <div class="detailCopy">
                    	<h1>{{data.ProjectName}}</h1>
                        <p>{{data.Description}}</p>
                    </div>


                    <div class="detailActions">
                        <h2>Actions</h2>
                        <a href=""> Action 1</a>
                        <a href=""> Action 2</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
