<section ui-view class="home">
    <div>
        <div slider-main class="wow fadeInDown animated"> </div>
    </div>
    <div class="container">
        <div id="homeThumbsNavigation">
            <ul>
                <li class="col-md-3 col-sm-12 col-xs-12">
                    <div id="mainDescr" class="wow fadeIn animated">
                        <h1>Recent Projects.</h1>
                        <p><span class="innerText">This is a small list of a few of the lastest projects I`ve been working on.</span></p>
                    </div>
                </li>
                <li class="col-md-3 col-sm-4  col-xs-12 ">
                    <a ng-sref="category.mobile" ng-href="#/category/mobile">
                        <div id="mobile" class="homeThumbnail wow fadeIn animated">
                            <div class="overlay"></div>
                            <div class="thumbCopy">
                                <h3>REACT NATIVE</h3>
                                <p>Mobile Development</p>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="col-md-3 col-sm-4 col-xs-12 ">
                    <a ng-sref="category.frontend" ng-href="#/category/frontend">
                        <div id="frontend" class="homeThumbnail wow fadeIn animated">
                            <div class="overlay"></div>
                            <div class="thumbCopy">
                                <h3>FRONT END</h3>
                                <p>Development</p>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="col-md-3 col-sm-4 col-xs-12 ">
                    <a ng-sref="category.olahtml" ng-href="#/category/olahtml">
                        <div id="olahtml" class="homeThumbnail wow fadeIn animated">
                            <div class="overlay"></div>
                            <div class="thumbCopy">
                                <h3>OLA HTML5</h3>
                                <p>Development</p>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>