<div id="navigation" class="widget navigation  ">
    <a href="#" ng-click="showMobileMenu()">
        <div id="mobile_toggle" class="widget svg mobile_toggle">
            <div class="svg-inner">
                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" x="0" y="0" viewBox="0 0 73.2 61.6" xml:space="preserve">
                    <path d="M4.2 8.6h64.7c2.3 0 4.2-1.9 4.2-4.3C73.2 1.9 71.3 0 68.9 0H4.2C1.9 0 0 1.9 0 4.3 0 6.7 1.9 8.6 4.2 8.6zM68.9 26.5H4.2C1.9 26.5 0 28.4 0 30.8c0 2.4 1.9 4.3 4.2 4.3h64.7c2.3 0 4.2-1.9 4.2-4.3C73.2 28.4 71.3 26.5 68.9 26.5zM68.9 53H4.2C1.9 53 0 54.9 0 57.3c0 2.4 1.9 4.3 4.2 4.3h64.7c2.3 0 4.2-1.9 4.2-4.3C73.2 54.9 71.3 53 68.9 53z"></path>
                </svg>
            </div>
        </div>
    </a>
    <!--
         -->
    <div id="items" class="items">
        <!--
             -->
        <a id="link" class="widget   navigation_link link  link" ui-sref="home" ui-sref-active="active">
            <div >HOME</div>
        </a>
        <!--
             -->
        <a id="link" class="widget   navigation_link link  link" ui-sref="resume" ui-sref-active="active">
            <div >RESUME</div>
        </a>
        <!--
             -->
        <a id="link" class="widget   navigation_link link  link" ui-sref="category" ui-sref-active="active">
            <div >PORTFOLIO</div>
        </a>
        <!--
             -->
        <a id="link" class="widget   navigation_link link  link" ui-sref="contact" ui-sref-active="active">
            <div >CONTACT</div>
        </a>
    </div>
</div>
