<section class="resume fadeIn animated">
    <div class="aboutme container-fluid wow fadeInDown animated">
        <div class="inner">
            <div class="row">
                <div class="left-half col-md-6 col-xs-12">
                    <div class="profile-container">
                        <img class="profile-pic" src="images/avatar.jpg" alt="Francisco Murillo">
                        <h2>Francisco Murillo</h2>
                        <h3>Front End Developer</h3>
                        <div class="info">
                            <ul>
                                <li><a href="mailto:fmurillo@gmail.com" target="blank">fmurillo@gmail.com</a></li>
                                <li> <a href="https://cr.linkedin.com/in/frazko" target="blank">LinkedIn Profile</a></li>
                                <li>Phone: (+506) <b>8864-1079</b></li>
                                <li>Skype: fmbosz</li>
                            </ul>
                        </div>
                        <p>Collaborative, self motivated, dedicated creative professional. Experience in leadership and team management, workload distribution, scrum and daily reports.</p>
                    </div>
                </div>
                <div class="right-half col-md-6 col-xs-12">
                    <h2>PROFESSIONAL SUMMARY</h2>
                    <ul>
                        <li>Web Front End Developer more than 10 years. </li>
                        <li>Leadership experience.</li>
                        <li>Ability to work with Designers, Creative Directors & Art Directors and clients.</li>
                        <li>Understanding of project management, schedules and deadlines. </li>
                        <li>Strong web developer skills (HTML, CSS, JavaScript, Flash, PHP, XML/JSON, SQL).</li>
                        <li>Knowledge of several JS frameworks and tools such as ANGULARJS / JasmineJS / JQuery / Sass / Grunt / Gulp / Mustache / Nodejs Etc.</li>
                        <li>Experience working with Agile Methodologies.</li>
                        <li>Proficient with MVC Patterns.</li>
                        <li>Expert in ActionScript 3 / OOP.</li>
                        <li>Strong Design Patterns knowledge.</li>
                        <li>Strong knowledge of backend technologies.</li>
                        <li>Solid understanding of usability, best practices, optimisation techniques.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="section-title wow fadeInDown animated">
                Resume
            </div>
        </div>
    </div>
    <div class="row work wow fadeIn animated" >
        <div class="leftColumn col-md-4 col-sm-12">
            <h2><span>WORK EXPERIENCE</span></h2>
        </div>
        <div class="rightColumn col-md-8 col-sm-12">
            <div class="work-timeline">
                <ul class="timeline">
                    <li class="timeline-event  wow fadeIn animated" >
                        <label class="timeline-event-icon"></label>
                        <div class="timeline-event-copy">
                            <p class="timeline-event-thumbnail">March 2014 - July 2015</p>
                            <h3>Prodigious Costa Rica.</h3>
                            <h4>Principal Creative Engineer Lead.</h4>
                            <p>Frontend development, Flash AS2/3, JavaScript, HTML/CSS, Landing pages / Microsites developer. Team leader and management responsibilities. Responsible of all OLA production for ROAR agency, member of http://www.publicisgroupe.com.</p>
                        </div>
                    </li>
                    <li class="timeline-event  wow fadeIn animated">
                        <label class="timeline-event-icon"></label>
                        <div class="timeline-event-copy">
                            <p class="timeline-event-thumbnail">March 2012- 2014.</p>
                            <h3>Bosz Digital.</h3>
                            <h4>Principal Lead Developer.</h4>
                            <p> Experienced in scoping, estimating and scheduling of project development and producing detailed associated documentation. Technical lead for a 6 members team. </p>
                        </div>
                    </li>
                    <li class="timeline-event  wow fadeIn animated">
                        <label class="timeline-event-icon"></label>
                        <div class="timeline-event-copy">
                            <p class="timeline-event-thumbnail">June 2007 – March 2012</p>
                            <h3>Avventa Worldwide.</h3>
                            <h4>Senior ActionScript Developer.</h4>
                            <p> Working for big companies such as General Motors (GMC, Pontiac, Saturn, Hummer), Nissan, Gillette, Leo Burnett, Marlboro, Black & Mild and others which demands the highest levels of quality. Participant in avVenta projects like: Level assessment in Flash Team members, Instructor in avVenta University, Flash Team Mentor, member of the avVenta Interactive Technologists Experts, etc. </p>
                        </div>
                    </li>
                    <li class="timeline-event  wow fadeIn animated">
                        <label class="timeline-event-icon"></label>
                        <div class="timeline-event-copy">
                            <p class="timeline-event-thumbnail">july 2006 - June 2007</p>
                            <h3>Aura Interactiva.</h3>
                            <h4>Senior Developer.</h4>
                            <p> Development of dynamic action script coded templates and tests, used for assessing students. Development of high quality e-learning courses for international companies. </p>
                        </div>
                    </li>
                    <li class="timeline-event  wow fadeIn animated">
                        <label class="timeline-event-icon"></label>
                        <div class="timeline-event-copy">
                            <p class="timeline-event-thumbnail">July 2005 - July 2006.</p>
                            <h3>Freelance </h3>
                            <h4></h4>
                            <p> Launched as freelance, responsible of the complete creativity and development of solutions that clients require (HTML / Flash / Multimedia / video). </p>
                        </div>
                    </li>
                    <li class="timeline-event wow fadeIn animated">
                        <label class="timeline-event-icon"></label>
                        <div class="timeline-event-copy">
                            <p class="timeline-event-thumbnail">May 2001 - July 2005</p>
                            <h3>Kio Publicidad Agency.</h3>
                            <h4>Web Designer - Developer</h4>
                            <p> Participated in creativity, design and development of projects like web sites or multimedia cds, for clients like ICE, ICT, etc. Responsible of the production team including planning, developing and testing projects. </p>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- Work Timeline End -->
        </div>
        <!-- main-col end -->
    </div>
    <div class="row work education">
        <div class="col-md-4 col-sm-12 leftColumn">
            <h2><span>EDUCATION</span></h2>
        </div>
        <div class="col-md-8 col-sm-12 rightColumn">
            <div class="work-timeline">
                <ul class="timeline">
                    <li class="timeline-event wow fadeIn animated">
                        <label class="timeline-event-icon"></label>
                        <div class="timeline-event-copy">
                            <p class="timeline-event-thumbnail">2000 - 2001</p>
                            <h3>Computer Engineering.</h3>
                            <h4>Ulacit, San Jose.</h4>
                        </div>
                    </li>
                    <li class="timeline-event wow fadeIn animated">
                        <label class="timeline-event-icon"></label>
                        <div class="timeline-event-copy">
                            <p class="timeline-event-thumbnail">2000 - 2002</p>
                            <h3>Tecnical Website Development.</h3>
                            <h4>ITCR, Cartago.</h4>
                        </div>
                    </li>
                    <li class="timeline-event wow fadeIn animated">
                        <label class="timeline-event-icon"></label>
                        <div class="timeline-event-copy">
                            <p class="timeline-event-thumbnail">1997 - 1999</p>
                            <h3>PC Hardware Maintenance</h3>
                            <h4>ITCR, Cartago.</4>                            
                                </div>
                    </li>
                </ul>
            </div>

        </div>
        <!-- Work Timeline End -->    
    </div>
    <!-- main-col end -->


    <div class="row work ">

        <div class="col-md-4 col-sm-12 leftColumn">
            <h2><span>INTEREST & SKILLS</span></h2>
        </div>


        <div class="col-md-8 col-sm-12 rightColumn">
           
            <div class="bars">
                <ul class="skills">
                    <li><span class="bar-expand javascript wow fadeInLeft animated"></span><em>JavaScript</em></li>
                    
                    <li><span class="bar-expand mongodb wow fadeInLeft animated"></span><em>MongoDB</em></li>
                    
                    <li><span class="bar-expand expressjs wow fadeInLeft animated"></span><em>ExpressJS</em></li>

                    <li><span class="bar-expand html5 wow fadeInLeft animated"> </span> <em>HTML5</em></li>

                    <li><span class="bar-expand jquery wow fadeInLeft animated"></span><em>jQuery</em></li>

                    <li><span class="bar-expand css wow fadeInLeft animated"></span><em>CSS</em></li>

                    <li><span class="bar-expand AngularJS wow fadeInLeft animated"></span><em>AngularJS</em></li>

                    <li><span class="bar-expand gitsvn wow fadeInLeft animated"></span><em>GIT / SVN</em></li>
                
                    <li><span class="bar-expand photoshop wow fadeInLeft animated"></span><em>Photoshop</em></li>

                    <li><span class="bar-expand actionScript wow fadeInLeft animated"></span><em>ActionScript</em></li>

                    <li><span class="bar-expand gulp wow fadeInLeft animated"></span><em>Grunt</em></li>

                    <li><span class="bar-expand grunt wow fadeInLeft animated"></span><em>Gulp</em></li>

                    <li><span class="bar-expand sass wow fadeInLeft animated"></span><em>Sass</em></li>

                </ul>
            </div>
            <!-- end skill-bars -->
        </div>
        <!-- main-col end -->

    </div>
        

<div class="row">
    <div>
        <p class="col-sm-12 skillsSectionCopy  wow fadeIn animated">Another important mentions are: JAVA, PHP, XML/JSON, Agile Methodologies, Flash Builder, Adobe AIR.</p>
    </div>
</div>



</section>
