<section ui-view class="slider" ng-controller="BasicSliderController">
    <flex-slider flex-slide="s in slides">
        <li>
            <img ng-src="{{s}}">
        </li>
    </flex-slider>
    
    <!--     
<p ng-repeat="item in data">{{item.ProjectName}}</p>

    <div class="flexslider">
        <ul class="slides">


            <li class="flex-active" style="">
                <a href="#">
                    <img src="images/image1.jpg" alt="Joel Silverman ">
                </a>
                <span class="flex-caption"><span class="project-label">Project 1</span> <span class="project-title"><a href="#">Joel Silverman 1</a></span></span>
            </li>





            <li class="" style="">
                <a href="#">
                    <img src="images/image2.jpg" alt="Joel Silverman">
                </a>
                <span class="flex-caption"><span class="project-label">Project 2</span> <span class="project-title"><a href="#">Joel Silverman 2</a></span></span>
            </li>
            <li class="" style="">
                <a href="#">
                    <img src="images/image3.jpg" alt="Joel Silverman">
                </a>
                <span class="flex-caption"><span class="project-label">Project 3</span> <span class="project-title"><a href="#">Joel Silverman 3</a></span></span>
            </li>
            <li class="" style="">
                <a href="#">
                    <img src="images/image4.jpg" alt="Joel Silverman">
                </a>
                <span class="flex-caption"><span class="project-label">Project 4</span> <span class="project-title"><a href="#">Joel Silverman 4</a></span></span>
            </li>
        </ul>
    </div>
    <h2> {{nombre}}
    {{apellido}}
    {{title}} </h2>
-->
</section>
